# Git
.git
.gitignore

# Environments and Secrets
.env
.env.*
env/
venv/
.venv/
node_modules/


# IDEs and OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build and Cache
__pycache__/
*.pyc
*.pyo
dist/
build/
